<div style="height:130px;">
  <div style="float: left; width: 100%; border-bottom:1px dotted #333333;">
    <h2>contact</h2>

    <div style="float: left; width: 50%;">
      Want to know more or book the band? Get in touch by any means possible.
    </div>
    <div style="float: right; margin-top:-50px">
      <img src="images/contact.gif" style="text-align:center;" width="40px" height="40px">
    </div>
  </div>
</div>

<div id="accordion">
  <h3><a href="#" class="accordion-header">Contact Form</a></h3>

  <div>
    <p><h4>[ use this form to get in touch ]</h4></p>
    <% form_for :email, :url => { :controller => 'contacts', :action => 'send_mail' } do |f| %>
    <div style="height:100px">
      <div style="float: left; width: 48%; border-top:1px dotted #333333;">
        <%= f.label :name, "name" %>
        <br/>
        <%= f.text_field :name, :class => "create_input" %>
        <br/>
        <%= f.label :emailaddress, "email address" %>
        <br/>
        <%= f.text_field :emailaddress, :class => "create_input" %>
        <br/>
        <%= f.label :contactnumber, "contact number" %>
        <br/>
        <%= f.text_field :contactnumber, :class => "create_input" %>
        <br/>
        <%= f.label :subject, "subject" %>
        <br/>
        <%= f.text_field :subject, :class => "create_input" %>
      </div>

      <div style="float: right; width: 50%; border-top:1px dotted #333333">
        <%= f.label :message, "message details" %>
        <br/>
        <%= f.text_area :message, :rows => 7, :cols => 48, :class => "create_input" %>
        <br/>
        <%= submit_tag "Send Email " %>
      </div>
    </div>
    <% end %>
  </div>

  <h3><a href="#" class="accordion-header">Other Contact Methods</a></h3>

  <div>
    <p><h4>[ you can also contact us by email or telephone ]</h4></p>
    <p>
      email: enquires@empirband.co.uk
      <br>
      <br>
      telephone: 0797 189 3707
    </p>
  </div>
</div>