<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
    Empire Band - Scotlands Wedding and Function Band
  </title>

  <%= stylesheet_link_tag 'application', 'jquery-ui-1.8.2.custom.css' %>
  <link href='http://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'custom/jquery-1.4.2.min.js', 'src/jquery.cycle.all.js', 'custom/jquery-ui-1.8.2.custom.min.js' %>

  <link rel="icon" href="images/favicon.ico" type="image/ico"/>
  <%= yield(:head) %>

  <script type="text/javascript">
      $(document).ready(function() {
          $('.slideshow').cycle({
              fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
          });
      });

       $(function() {
		$( "#accordion" ).accordion();
	});

  </script>
</head>

<body>
<div id="background-header">
  <div id="header-spacer" class="spacer"></div>
  <div id="wrapper-header" class="wrapper">
    <%= link_to image_tag("/images/facebook-icon.png", :class => "facebook-icon"), "http://www.facebook.com/pages/Empire/139442822756068" %>    
    <div id="menu-container">
      <div id="menu"><%= link_to "home", :action=>"index", :controller=>"home" %>  |  <%= link_to "services", :action=>"index", :controller=>"services" %>  |  <%= link_to "music", :action=>"index", :controller=>"music" %>  |  <%= link_to "band", :action=>"index", :controller=>"band" %>  |  <%= link_to "contact", :action=>"index", :controller=>"contact" %> </div>
      <%= link_to image_tag("/images/logo-wee.png"), :action=>"index", :controller=>"home" %>
      <span style="font-family: 'Schoolbell', arial, serif; text-align:right; float:right; padding-top:26px; font-size:16px">"empire will make your party a night to remember"</span>

      <div id="image=spacer" class="spacer"></div>
      <div style="float: left; width: 50%;">
        <img src="images/Empire-LiveMusic.jpg" width="330" height="190">
      </div>
      <div style="float: right; width: 50%;">
        <div id="slideshow" class="slideshow">
          <img src="images/image1.jpg" width="330" height="190" class="first"/>
          <img src="images/image2.jpg" width="330" height="190"/>
          <img src="images/image3.jpg" width="330" height="190"/>
          <img src="images/image4.jpg" width="330" height="190"/>
          <img src="images/image5.jpg" width="330" height="190"/>
        </div>
      </div>
    </div>

    <div id="content-container">
      <div id="spacer-hidden" class="spacer-hidden">c</div>
      <%= yield %>
    </div>
  </div>
</div>


<div id="footer-spacer" class="spacer" ></div>
<div id="footer-spacer2" class="spacer" ></div>
<div id="footer" class="footer-wrapper" style="border-top:1px dotted #333333;">
  <div class="left">
    mail: enquiries@empireband.co.uk
  </div>
  <div class="right">
    tel: 07971893707
  </div>
  <div class="middle">
    www.empireband.co.uk
  </div>
</div>

</body>
</html>

